<div class="container">
<div class="row">
<p>Family name: <%= @family_name %></p>
</div>
<div class="row">

    <%= nested_form_for @family, :url => family_create_kid_path do |f| %>
        <fieldset>
          <%= f.fields_for :kids do |kid_form| %>
          <%= kid_form.text_field :name %>
          <%= kid_form.link_to_remove "Remove kid" %>
          <% end %>
        <%= f.link_to_add "Add Family Member", :kids, :class => 'btn btn-primary btn-sm btn-block' %>
    </fieldset>

      <div class="row text-center">
        <div class="legal-document-actions">
              <%= f.submit "Save changes", :class => "btn btn-lg btn-primary" %>
          </div>
        <% end %>
      </div>
</div>

<div class="row">


</div>

</div>


