<div class="container">
<div class="row">
<p>Family name: <%= @family_name %></p>
</div>
<div class="row">

    <%= nested_form_for @family, :url => family_create_kid_path do |f| %>
        <%= f.hidden_field :fid, value: @family.id %>
        <fieldset>
          <%= f.fields_for :kids do |kid_form| %>
          <%= kid_form.text_field :name %>
          <%= kid_form.link_to_remove "Remove this kid" %>
          <% end %>
        <p><%= f.link_to_add "Add Family Member", :kids, :class => 'btn btn-default btn-lg btn-block' %></p>
    </fieldset>
    <% end %> 

</div>

<div class="row">


</div>

</div>


