<div class="row">
    <h1><%= @kid.name %></h1>
</div>
<div class="row">
  <a class="btn btn-lg btn-primary" target="_blank" href="/analytics/track?id=<%= @kid.id %>">Track</a>
  <a class="btn btn-lg btn-danger" href="/kid/delete?id=<%= @kid.id %>">Remove</a>
</div>
<div class="row">
  <h2>Sessions</h2>
</div>
<div class="row">
  <h3>Number of sessions: <%= @kid.session.count %></h3>
</div>
  <div class ="row">
    <h3>
      Session Time Data for <%= @kid.name %>
    </h3>
    <%= high_chart("some_id", @chart) %>
  </div>